<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--! Projects Panel -->
      <div class="panel panel-default" style="min-height: 331px">
        <div class="panel-heading">
          <span class="pull-left">
            <b>My projects</b>
          </span>
          <span class="pull-right"
                data-ng-show="userInfo.hasProjectManagePermission()">
            <a data-ui-sref="manage.projects.list">Manage</a>
          </span>
          <span class="clearfix"></span>
        </div>
        <div data-ng-switch="projects_available()">
          <table class="table table-hover"
                 data-ng-switch-when="true">
            <tr data-ng-repeat="proj in projects">
              <td>{{ proj.project_id }}</td>
              <td>{{ proj.name }}</td>
            </tr>
          </table>
          <div class="panel-body" data-ng-switch-when="false">
            <h4 class="text-center">
              Not associated with any project
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!--! Stats Panel -->
      <div class="panel panel-default" style="min-height:331px">
        <div class="panel-heading">
          <b>Stats : </b>
          <form class="form-inline" role="form" style="display:inline">
            <div class="form-group">
              <label class="sr-only" for="filter.form.range">My activities</label>
              <select class="form-control"
                      id="filter.form.range"
                      placeholder="Select range"
                      name="range"
                      data-ng-model="filter_range"
                      data-ng-change="update()"
                      data-ng-options="r.label for r in ranges">
              </select>
            </div>
          </form>
        </div>

        <div class="panel-body">
          <div class="row" data-ng-show="stats_available">
            <div class="col-md-6">
              <h4 class="text-center">Project classification</h4>
              <div class="col-md-8">
                <canvas data-tc-chartjs width="200" height="200"
                        data-chart-type="pie"
                        data-chart-data="projectChartData"
                        id="projectPieChart">
                </canvas>
              </div>
              <div class="col-md-4">
                <div class="legend-container">
                  <div data-ng-repeat="project in projectChartData"
                       style="margin-bottom: 3px;">
                    <div data-popover-placement="left"
                         data-popover-trigger="mouseenter"
                         data-popover="{{ getTimeString(project.value) }}"
                         data-popover-title="{{project.label}}">
                      <span class="legend" data-ng-style="project.style">
                      </span>
                      <span class="legend-label">
                        {{ project.label }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">Tag classification</h4>
              <div class="col-md-8">
                <canvas data-tc-chartjs width="200" height="200"
                        data-chart-type="pie"
                        data-chart-data="tagChartData"
                        id="tagPieChart">
                </canvas>
              </div>
              <div class="col-md-4">
                <div class="legend-container">
                  <div data-ng-repeat="tag in tagChartData"
                       style="margin-bottom: 3px;">
                    <div data-popover-placement="left"
                         data-popover-trigger="mouseenter"
                         data-popover="{{ getTimeString(tag.value) }}"
                         data-popover-title="{{tag.label}}">
                      <span class="legend" data-ng-style="tag.style">
                      </span>
                      <span class="legend-label">
                        {{ tag.label }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-ng-show="!stats_available">
            <h4 class="text-center">
              No statistics available for this time period
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-left">
        <b>Recent Entries</b>
      </span>
      <span class="pull-right" data-ng-show="projects_available()">
        <a data-ui-sref="timelog.add">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add timelog</span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
    <div class="panel-body" data-ng-show="records_available">
      <div data-ng-repeat="date_entry in timelogs">
        <h4><small><strong>{{ getDate(date_entry.date) }}</strong></small></h4>
        <table id="time-entry-listing" class="table table-hover">
          <tr data-ng-repeat="entry in date_entry.logs">
            <td class="col-md-2">
              {{ entry.start_time }} - {{ entry.end_time }}
            </td>
            <td class="col-md-3">
              {{ entry.activity }}
            </td>
            <td class="col-md-2">
              <a data-popover-placement="top"
                 data-popover-trigger="mouseenter"
                 data-popover="{{entry.project_name}}">
                {{ entry.project_id }}
              </a>
            </td>
            <td class="col-md-2">
              <div>
                <span style="margin: 2px; display: inline-block"
                      data-ng-repeat="tag in entry.tags"
                      class="label label-default">
                  {{ tag }}
                </span>
              </div>
            </td>
            <td class="col-md-3">
              <a data-popover-placement="top"
                 data-popover-trigger="mouseenter"
                 data-popover="{{entry.description}}">
                {{ getShortDescription(entry.description) }}
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div> <!--! End of inner .panel-body -->

    <div class="panel-body" data-ng-show="!records_available">
      <h5 class="text-center">No records found</h5>
    </div>

    <div class="panel-footer" data-ng-show="records_available">
      <span class="pull-right">
        <a data-ui-sref="timelog.list">
          <i class="glyphicon glyphicon-list"></i>
          <span>More</span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
  </div>

</div>
