<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}], Edit activity : {{activity.name}}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.activities.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="activityEditForm"
          data-ng-controller="activityEditCtrl">
      <div class="form-group"
           data-ng-class="getClass(activityEditForm.name)">
        <label class="control-label col-md-4"
               for="activity.edit.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-5">
          <input type="text" id="activity.edit.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 maxlength="60"
                 data-unique-activity-name-exclude="activity.name"
                 data-ng-pattern="/^[a-zA-Z0-9_ \)\(.-]+$/"
                 data-ng-model="activity.new_name"/>
          <div class="text-danger"
               data-ng-show="showError(activityEditForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(activityEditForm.name,'pattern')">
            Invalid activity name
          </div>
          <div class="text-danger"
               data-ng-show="activityEditForm.name.$error.uniqueActivityNameExclude">
            Activity name already exists
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="manage.activities.show( {projectId: project_id, activityName: activity.name} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
