<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Projects</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.projects.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <table id="project-listing" class="table table-hover">
      <tr data-ng-repeat="project in projects">
        <td class="col-md-2">
          <a data-ui-sref="manage.projects.show( {projectId: project.project_id} )">
            {{ project.project_id }}
          </a>
        </td>
        <td class="col-md-2">{{project.name}}</td>
        <td class="col-md-2" style="text-align:right">
          <a data-ng-click="deleteProject(project.project_id)"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
