/* Bootstrap theme for ngTagsInput */
.bootstrap .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags li {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags li.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags button {
    background: transparent;
    color: #000;
    opacity: .4;
}

.bootstrap .autocomplete {
    border-radius: 4px;
}

.bootstrap .autocomplete li.selected {
    color: #262626;
    background-color: #e9e9e9;
}

/* Angular UI Bootstrap pagination component fix */
.pagination > li > a {
    cursor: pointer;
}

.legend-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

.legend {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 6px;
}

/* Client address and description of timelog */
textarea {
    resize: none;
    min-height: 120px;
}
