<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div data-ui-view="sidebar">
      </div>
    </div>
    <div class="col-md-9">
      <div data-ui-view>
      </div>
    </div>
  </div>
</div>
