<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-left">
        <b>
          Tag report
          <span>
            {{ report_tag }}
          </span>
        </b>
      </span>
      <span class="pull-right">
        <b> {{ report_duration }} </b>
      </span>
      <span class="clearfix"></span>
    </div> <!--! panel-heading -->

    <div class="panel-body">
      <div id="reportFilter" class="row">
        <div class="col-md-4 form-group">
          <input type="text" class="form-control"
                 name="tag"
                 placeholder="Tag name"
                 autocomplete="off"
                 data-typeahead="tag as tag.name for tag in tags | filter:$viewValue"
                 data-typeahead-editable="false"
                 data-ng-required="true"
                 data-ng-model="filter_tag">
        </div>

        <div class="col-md-4 form-group"
             data-ng-show="!filter_advanced_mode">
          <select class="form-control"
                  id="filter.form.range"
                  placeholder="Select range"
                  name="range"
                  data-ng-model="filter_range"
                  data-ng-options="r.label for r in ranges"></select>
        </div>

        <div class="col-md-4 form-group"
             data-ng-class="getTimeClass()"
             data-ng-show="filter_advanced_mode">
          <div class="input-group">
            <input type="text" id="filter.form.start_date"
                   class="form-control"
                   placeholder="Start Date"
                   name="start_date"
                   data-datepicker-popup="yyyy/MM/dd"
                   data-close-text="Close"
                   data-ng-required="true"
                   data-ng-change="startDateChanged()"
                   data-ng-model="filter_start_date"/>
            <span class="input-group-addon">to</span>
            <input type="text" id="filter.form.end_date"
                   class="form-control"
                   placeholder="End Date"
                   name="end_date"
                   data-datepicker-popup="yyyy/MM/dd"
                   data-close-text="Close"
                   data-ng-required="true"
                   data-ng-change="endDateChanged()"
                   data-ng-model="filter_end_date"/>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
          <div class="text-danger"
               data-ng-show="showDateInvalidError">
            Start date is greater than end
          </div>
        </div>

        <div class="col-md-2" style="display:none">
          <!-- data-ng-show="filter_advanced_mode"> -->
        </div>

        <div class="col-md-1">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="filter_advanced_mode"
                     data-ng-model="filter_advanced_mode">
              Advanced
            </label>
          </div>
        </div>

        <div class="col-md-1">
          <button class="btn btn-default" ng-click="applyFilter()"
                  data-ng-disabled="!canApply()">Apply</button>
        </div>
      </div>

      <div id="reportGraphs">
        <div class="row"
             data-ng-show="show_graph_reports">
          <div class="col-md-4">
            <h4 class="text-center">User classification</h4>
            <div class="col-md-8">
              <canvas data-tc-chartjs width="200" height="200"
                      data-chart-type="pie"
                      data-chart-data="userChartData"
                      id="userPieChart">
              </canvas>
            </div>
            <div class="col-md-4">
              <div class="legend-container">
                <div data-ng-repeat="user in userChartData"
                     style="margin-bottom: 3px;">
                  <div data-popover-placement="left"
                       data-popover-trigger="mouseenter"
                       data-popover="{{ getTimeString(user.value) }}"
                       data-popover-title="{{user.label}}">
                    <span class="legend" data-ng-style="user.style">
                    </span>
                    <span class="legend-label">
                      {{ user.label }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h4 class="text-center">Client classification</h4>
            <div class="col-md-8">
              <canvas data-tc-chartjs width="200" height="200"
                      data-chart-type="pie"
                      data-chart-data="clientChartData"
                      id="clientPieChart">
              </canvas>
            </div>
            <div class="col-md-4">
              <div class="legend-container">
                <div data-ng-repeat="client in clientChartData"
                     style="margin-bottom: 3px;">
                  <div data-popover-placement="left"
                       data-popover-trigger="mouseenter"
                       data-popover="{{ getTimeString(client.value) }}"
                       data-popover-title="{{client.label}}">
                    <span class="legend" data-ng-style="client.style">
                    </span>
                    <span class="legend-label">
                      {{ client.label }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h4 class="text-center">Project classification</h4>
            <div class="col-md-8">
              <canvas data-tc-chartjs width="200" height="200"
                      data-chart-type="pie"
                      data-chart-data="projectChartData"
                      id="projectPieChart">
              </canvas>
            </div>
            <div class="col-md-4">
              <div class="legend-container">
                <div data-ng-repeat="project in projectChartData"
                     style="margin-bottom: 3px;">
                  <div data-popover-placement="left"
                       data-popover-trigger="mouseenter"
                       data-popover="{{ getTimeString(project.value) }}"
                       data-popover-title="{{project.label}}">
                    <span class="legend" data-ng-style="project.style">
                    </span>
                    <span class="legend-label">
                      {{ project.label }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="reportSummary" class="panel panel-default"
           data-ng-show="filter_applied">
        <div class="panel-body text-center">
          <b data-ng-show="records_available">
            Total time spent : {{ getTimeString(tag_reports.total) }}
          </b>
          <b data-ng-show="!records_available">
            No records found.
          </b>
        </div>
      </div>
      <div id="reportLogs"
           data-ng-show="show_log_reports">
        <div class="row">
          <div class="col-md-4">
            <div data-ng-show="!user_selected" class="form-group">
              <input type="text" class="form-control"
                     name="user"
                     placeholder="User name"
                     autocomplete="off"
                     data-typeahead="user as user.real_name for user in users | matchUser:$viewValue"
                     data-typeahead-editable="false"
                     data-typeahead-on-select="cbOnUserSelect()"
                     data-ng-model="filter_user">
            </div>
            <div data-ng-show="user_selected">
              <alert data-type="success" data-close="closeUserFilter()">
                User : [{{ filter_user.userid }}] {{filter_user.real_name}}
              </alert>
            </div>
          </div>

          <div class="col-md-4">
            <div data-ng-show="!client_selected" class="form-group">
              <input type="text" class="form-control"
                     name="client"
                     placeholder="Client name"
                     autocomplete="off"
                     data-typeahead="client as client.name for client in clients | matchClient:$viewValue"
                     data-typeahead-editable="false"
                     data-typeahead-on-select="cbOnClientSelect()"
                     data-ng-model="filter_client">
            </div>
            <div data-ng-show="client_selected">
              <alert data-type="success" data-close="closeClientFilter()">
                Client : [{{ filter_client.client_id }}] {{filter_client.name}}
              </alert>
            </div>
          </div>

          <div class="col-md-4">
            <div data-ng-show="!project_selected" class="form-group">
              <input type="text" class="form-control"
                     name="project"
                     placeholder="Project name"
                     autocomplete="off"
                     data-typeahead="project as project.name for project in projects | matchProject:$viewValue"
                     data-typeahead-editable="false"
                     data-typeahead-on-select="cbOnProjectSelect()"
                     data-ng-model="filter_project">
            </div>
            <div data-ng-show="project_selected">
              <alert data-close="closeProjectFilter()" data-type="success">
                Project : [{{ filter_project.project_id }}] {{filter_project.name}}
              </alert>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: left">
            <a type="button" style="margin: 20px 0;"
               class="btn btn-success" data-ng-href="{{csv_url}}">
              Download CSV
            </a>
          </div>
          <div class="col-md-10" style="text-align: right">
            <pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-on-select-page="pageChanged(page)"
                        data-page="pnCurrentPage">
            </pagination>
          </div>
        </div>

        <div data-ng-repeat="date_entry in timelogs">
          <h4><small><strong>{{ getDate(date_entry.date) }}</strong></small></h4>
          <table id="time-entry-listing" class="table table-hover">
            <tr data-ng-repeat="entry in date_entry.logs">
              <td class="col-md-2">
                {{ entry.start_time }} - {{ entry.end_time }}
              </td>
              <td class="col-md-2">
                <a data-popover-placement="top"
                   data-popover-trigger="mouseenter"
                   data-popover-title="User : {{entry.userid}}"
                   data-popover="{{entry.user_name}}">
                  {{ entry.userid }}
                </a>
              </td>
              <td class="col-md-1">
                <a data-popover-placement="top"
                   data-popover-trigger="mouseenter"
                   data-popover-title="Client : {{entry.client_id}}"
                   data-popover="{{entry.client_name}}">
                  {{ entry.client_id }}
                </a>
              </td>
              <td class="col-md-1">
                <a data-popover-placement="top"
                   data-popover-trigger="mouseenter"
                   data-popover-title="Project : {{entry.project_id}}"
                   data-popover="{{entry.project_name}}">
                  {{ entry.project_id }}
                </a>
              </td>
              <td class="col-md-2">
                {{ entry.activity }}
              </td>
              <td class="col-md-2">
                <div>
                  <span style="margin: 2px; display: inline-block"
                        data-ng-repeat="tag in entry.tags"
                        class="label label-default">
                    {{ tag }}
                  </span>
                </div>
              </td>
              <td class="col-md-2">
                <a data-popover-placement="top"
                   data-popover-trigger="mouseenter"
                   data-popover="{{entry.description}}"
                   data-popover-title="Description">
                  {{ getShortDescription(entry.description) }}
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
