<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Roles</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.roles.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <table id="role-listing" class="table table-hover">
      <tr data-ng-repeat="role in roles">
        <td class="col-md-2">
          <a data-ui-sref="manage.roles.show( {roleId: role.role_id} )">
            {{ role.role_id }}
          </a>
        </td>
        <td class="col-md-3">{{role.name}}</td>
        <td class="col-md-6">
          <span style="margin: 2px; display: inline-block"
                data-ng-repeat="permission in role.permissions"
                class="label label-primary">
            {{ permission }}
          </span>
        </td>
        <td class="col-md-1" style="text-align:right">
          <a data-ng-click="deleteRole(role.role_id)"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
