<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>New Role</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.roles.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="roleAddForm"
          data-ng-controller="roleAddCtrl" role="form">
      <div class="form-group"
           data-ng-class="getClass(roleAddForm.role_id)">
        <label class="control-label col-md-4"
               for="role.add.form.role_id">
          Role ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="role.add.form.role_id" name="role_id"
                 class="form-control"
                 data-unique-role-id
                 placeholder="Role ID"
                 data-ng-required="true"
                 data-ng-model="role.role_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'pattern')">
            Invalid role ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'uniqueRoleId')">
            Role ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(roleAddForm.name)">
        <label class="control-label col-md-4"
               for="role.add.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="role.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="role.name"
                 data-ng-pattern="/^[a-zA-Z][\s*\w]*$/"/>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.name, 'pattern')">
            Invalid characters in role name
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4"
               for="role.add.form.permissions">
          Permissions
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <div data-ng-repeat="perm in permissions">
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-model="perm.isSelected"/>
                {{ perm.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.roles.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
