<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Edit Profile : {{user.userid}}</b>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <div data-ng-show="alert.show">
      <alert data-type="alert.type"
             data-close="closeAlert()">{{alert.msg}}</alert>
    </div>
    <form class="form-horizontal" novalidate name="editProfileForm">
      <div class="form-group"
           data-ng-class="getClass(editProfileForm.real_name)">
        <label class="control-label col-md-4"
               for="edit.profile.form.real_name">
          Full name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="edit.profile.form.real_name"
                 name="real_name"
                 class="form-control"
                 placeholder="Real name"
                 data-ng-required="true"
                 data-ng-model="user.real_name"/>
          <div class="text-danger"
               data-ng-show="showError(editProfileForm.real_name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(editProfileForm.email)">
        <label class="control-label col-md-4" for="edit.profile.form.email">
          Email
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="edit.profile.form.email" name="email"
                 data-unique-email-exclude="user.userid"
                 class="form-control"
                 placeholder="Email ID"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z][a-zA-Z0-9._%-+]*@([a-zA-Z][a-zA-Z0-9-]*\.)+[a-zA-Z]{2,4}$/"
                 data-ng-model="user.email_id"/>
          <div class="text-danger"
               data-ng-show="editProfileForm.email.$error.pattern">
            Invalid email ID
          </div>
          <div class="text-danger"
               data-ng-show="editProfileForm.email.$error.uniqueEmailExclude">
            Email ID already in use
          </div>
          <div class="text-danger"
               data-ng-show="showError(editProfileForm.email, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
