<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Users</b>
    </span>
    <div style="display:inline; padding-left: 25px;" >
      <label class="radio-inline">
        <input type="radio" name="activeUser"
               data-ng-model="filterActive"
               data-ng-value="true">
        Active
      </label>
      <label class="radio-inline">
        <input type="radio" name="activeUser"
               data-ng-model="filterActive"
               data-ng-value="false" checked>
        Inactive
      </label>
    </div>


    <span class="pull-right">
      <a data-ui-sref="manage.users.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <table id="user-listing" class="table table-hover">
      <tr data-ng-repeat="user in users | filter:{active:filterActive}">
        <td class="col-md-2">
          <a data-ui-sref="manage.users.show( {userId: user.userid} )">
            {{ user.userid }}
          </a>
        </td>
        <td class="col-md-2">{{user.real_name}}</td>
        <td class="col-md-2" data-ng-switch="(!user.role_id || user.role_id == '')">
          <span data-ng-switch-when="false">
            {{user.role_name}}
          </span>
          <span data-ng-switch-when="true">
            <span data-ng-switch="(user.userid == 'admin')">
              <span data-ng-switch-when="true" class="label label-success">
                System: Administrator
              </span>
              <span data-ng-switch-when="false" class="label label-info">
                System: Normal User
              </span>
            </span>
          </span>
        </td>
        <td class="col-md-1" style="text-align:right"
            data-ng-switch="{{ user.userid != 'admin' && user.userid != userInfo.getID() }}">
          <a data-ng-click="deleteUser(user.userid)"
             data-ng-switch-when="true"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
