<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>User : {{ user.userid }}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.users.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.users.edit( {userId: user.userid} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{user.real_name}}</dd>
        <dt>Email</dt>
        <dd>{{user.email_id}}</dd>
        <div data-ng-show="(user.userid != 'admin')">
          <dt>Role</dt>
          <dd data-ng-switch="(!user.role_id || user.role_id == '')">
            <span data-ng-switch-when="false">
              {{user.role_name}}
            </span>
            <span data-ng-switch-when="true"
                  class="label label-info">
              System: Normal User
            </span>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
