<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Client : {{ client.client_id }}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.clients.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.clients.edit( {clientId: client.client_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{client.name}}</dd>
        <dt>Address</dt>
        <dd data-ng-bind-html="html_address"></dd>
      </dl>
    </div>
  </div>
</div>
