<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Edit tag : {{tag.name}}</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.tags.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="tagEditForm"
          data-ng-controller="tagEditCtrl">
      <div class="form-group"
           data-ng-class="getClass(tagEditForm.name)">
        <label class="control-label col-md-4"
               for="tag.edit.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="tag.edit.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 maxlength="30"
                 data-ng-required="true"
                 data-unique-tag-name-exclude="tag.name"
                 data-ng-pattern="/^[a-zA-Z0-9\s]+$/"
                 data-ng-model="tag.new_name"/>
          <div class="text-danger"
               data-ng-show="showError(tagEditForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(tagEditForm.name,'pattern')">
            Invalid tag name
          </div>
          <div class="text-danger"
               data-ng-show="tagEditForm.name.$error.uniqueTagNameExclude">
            Tag name already exists
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="manage.tags.show( {tagName: tag.name} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
