<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Tags</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.tags.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <table id="tag-listing" class="table table-hover">
      <tr data-ng-repeat="tag in tags">
        <td class="col-md-2">
          <a data-ui-sref="manage.tags.show( {tagName: tag.name} )">
            {{ tag.name }}
          </a>
        </td>
        <td class="col-md-2" style="text-align:right">
          <a data-ng-click="deleteTag(tag.name)"
             style="cursor:pointer">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
