<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Tag</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.tags.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.tags.edit( { tagName: tag.name} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{tag.name}}</dd>
      </dl>
    </div>
  </div>
</div>
